html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ebeefd;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 20px;
}

code {
  color: blue;
  display: block;
  margin-bottom: 30px;
}

.comment {
  color: green;
  font-weight: 800;
}

div {
  background-color: rgba(165, 94, 232, 0.298);
  padding: 3px 10px;
  width: fit-content;
}