body{
    background-color: #ebeefd;
}

.no-space{
    margin: 4px;
}

h1{
    text-align: center;
}

code{
    color: blue;
}

.blue-background{
    background-color: rgb(214, 214, 250);
    border: 2px solid rgb(3, 3, 151);
}

.comment{
    color: green;
    font-weight: 800;
}

.red{
    color: red;
}