h3 {
  margin: 50px 0px 0px;
}

body{
  background-color: #ebeefd;
}

h1{
  text-align: center;
}

code{
  color: blue;
}

.comment{
  color: green;
  font-weight: 800;
}

ul{
  list-style: none;
  margin-left: -20px;
}

ul span{
  margin-left: 8px;
  margin-right: 8px;
}

li{
  display: flex;
}

.items-done{  
  text-decoration: line-through;
  color: #7c7c7c;
}

li button {
  font-size: 12px;
  margin: 0px 0px 0px 0px;
  color: #666;
}

#app{
  padding: 10px;
  background-color: #d5d5d5;
  border: 2px solid black;
  border-radius: 8px;
  height: 500px;
}