body{
    background-color: #ebeefd;
}

.no-space{
    margin: 4px;
}

h1{
    text-align: center;
}

code{
    color: blue;
}

.blue-background{
    background-color: rgb(214, 214, 250);
    border: 2px solid rgb(3, 3, 151);
}

.comment{
    color: green;
    font-weight: 800;
}

.big-red{
    font-size: 20px;
    color: red;
}

.fancy{
    font-family: "Brush Script MT", cursive;
    font-size: 20px;
    font-weight: 500;
    color: rebeccapurple;
    background-color: antiquewhite;
    border: 5px double rebeccapurple;
}

.high-contrast{
    font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
    font-size: 18px;
    color: white;
    background-color: black;
}