body{
    /* background-color: rgb(241, 243, 255); */
}

h1{
    text-align: center;
}

p{
    text-align: left;
}

em{
    font-weight: 900;
}

div{
    background-color: lightskyblue;
    border: 2px solid midnightblue;
    box-sizing: border-box;
    border-radius: 4px;
}

.container div{
    /* padding: 0px 16px; */
}

.container{
    gap: 1px;
    background-color: rgb(188, 178, 249);
    border-radius: 4px;
    padding: 4px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}