img{
    height: 180px;
}

button{
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
}
button:hover{
    background-color: #e6e6e6;
}
button:active{
    background-color: #c0c0c0;
}
button:disabled{
    opacity: 0.5;
    background-color: #c0c0c0;
}

body{
    background-color: #ebeefd;
}

h1{
    text-align: center;
}

code{
    color: blue;
}

.comment{
    color: green;
    font-weight: 800;
}