html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: #ebeefd;
}

h1 {
  text-align: center;
}

h3 {
  margin-top: 20px;
}

code {
  color: blue;
  display: block;
  margin-bottom: 30px;
}

.comment {
  color: green;
  font-weight: 800;
}

body>div {
  background-color: rgba(165, 94, 232, 0.298);
  width: max-content;
  padding: 3px 10px;
}

.container {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

div>div {
  padding: 5px 10px;
  border: 1px solid black;
}